.rc-pagination-next button:after,
.rc-pagination-prev button:after {
    display: none;
}
.react-datepicker-wrapper {
    display: block;
}
.modal {
    &-header {
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-heading {
        display: block;
    }
}
.nav-link {
    padding-left: 28px;
}
.noti .dropdown-toggle::after {
    display: none;
}
.noti .btn-link {
    color: $color-text-paragraph;
}
